.Calculator{
    background-color: grey;
    width: 580px;
    gap: 20px;
    padding: 40px;
    height:580px;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 100px;
    height: 100px;
}

.plus{
    width: 100px;
    height: 220px;
}