.main{
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    gap: 20px;
    padding: 40px;
    height:660px;
}

.button {
    width: 100px;
    height: 100px;
}

.plus{
    width: 100px;
    height: 100px;
}